
@media only screen and (max-width: 550px) {
	body {
		margin-left: 2%;
	}
	header a {
		font-size: 25px;
	}
	.sub-text  {
		margin-right: 15%;
	}	
	.home-image1 {
		width: 270px;
		clear: both;
		margin-top: -200%;
		margin-left: 65%;
	}
	.home-image2 {
		width: 270px;
		clear: both;
		margin-top: -200%;
		margin-left: -30%;
	}
	.home-image3 {
		width: 270px;
		clear: both;
		margin-top: -200%;
		margin-left: 60%;
	}
	.half{
		margin-top: 100px;
		margin-left: -50px;
	}
	.p_second {
		margin-left: 55%;
		width: 150px;
	}
	.p_first {
		width: 500px;
		margin-left: -65%;
	}
	.h3_second {
		margin-left: 90%;
		margin-top: 15%;
	}
	body {
		background-color: #fff;
	}
	header {
		width: 120%;
	}
	section.hero{
		width: 120%;
	}
	.columns.spacing, {
		background-color: #fff;
	}
	.header_link {
		margin-left: -140%;;
	}
	.site__title{
		font-size: 30px;
		margin-left: 10%;
		text-align: start;
	}
@media only screen and (max-width: 400px) {
	header a {
		font-size: 20px;
	}
}
