header {
	background-color: #f5f5f5;
	margin-bottom: 70px;
	border-top: 13px solid #83837f;
}
.data {
    float: left;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 34px;
}
.job {
    font-family: Arial;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 10px;
    color: grey;
}
.social__image {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 5px;
}
.developer__name {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}
.profile {
	width: 225px;
	height: 225px;
	margin-top: 35px;
	margin-left: 85px;
	padding-bottom: 30px;
}
.content {
	margin-left: 85px;
}
.sidebar__block {
	background-color: #fff;
}
.clearfix {
	clear: both;
}
.continue {
	text-decoration: underline;
	color: #79a08d;
	margin-left: 15px;
}
.more {
	margin-left: 320px;
}
.more__second {
	margin-left: 40px;
}
.continue__image {
	width: 20px;
    height: 20px;
    margin-right: 5px;
}
.like, .telegram {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.contact__button {
    float: none;
    margin-left: 350px;
    margin-top: 10px;
    background-color: #499dcb;
    width: 230px;
    margin-bottom: 115px;
}
.contact__button__first {
    float: right;
    background-color: #57b753;
    margin-top: 115px;
    margin-right: 90px;
    width: 185px;
}
.contact__button__first, .contact__button {
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: none;
	font-weight: bold;
	border: none;
}
blockquote:before {
	content: "\201C";
	font-size: 50PX;
	color: #57b753;
}
blockquote {
    border-left: 10px solid #57b753;
    padding-left: 35px;
}
.image-project {
    width: 260px;
    margin-left: 40px;
    height: 200px;
    margin-right: 25px;
}
.img__profile {
	float: left;
}
.data {
	float: left;
}
body {
	background-color: #dbe5e7;
	margin: 0;
}
.sidebar {
	float: right;
	width: 440px;
	margin-right: 85px;
}
.content__subtext {
    margin-top: 5px;
    margin-left: 200px;
    font-size: 22px;
    color: #778284;
}
.apps {
	margin-top: 40px;
	margin-bottom: 40px;
}
.big_image {
    margin-left: 40px;
    width: 850px;
}
.content__text {
	margin-left: 40px;
	margin-bottom: 25px;
	width: 830px;
}
.content__subtitle {
	margin-left: 325px;
	margin-top: -10px;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 0;
	color: #778284;
}
.sidebar__block {
	width: 440px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
}
.sidebar__text {
	color: #585b64;
	width: 355px;
	margin-top: 0;
	margin-left: 10px;
}
.website-link{
	text-decoration: none;
}
.content__block {
	width: 930px;
	float: left;
	border-radius: 4px;
}
.top__img{
	width: 20px;
	height: 20px;
	margin-left: 10px;
	margin-top: 20px;
	margin-right: 10px;
}
.links{
	padding: 20px;
}
.music{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 35px;
}
.footer {
	clear: both;
	float: none;
	background-color: #33383c;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.content__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-top: 40px;
	margin-left: 40px;
	margin-bottom: 35px;
	color: #585b64;
	padding-top:10px;

}
.subcredits{
	color: #585b64;
	margin-left: 35px;
}
.loading-bar {
	height: 20px;
	width: 400px;
	background-color: #66cc8d;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 30px;
}
.skills__assesment {
	float: right;
	margin-right: 10px;
	color: #585b64;
}
.apps {
	width: 850px;
}
.image-project {
	float: left;
    width: 260px;
    margin-left: 40px;
    height: 200px;
    margin-right: 25px;
    margin-top: 20px;
}
.content__block {
	background-color: #ffffff;
	margin-bottom: 35px;
}
.subinfo__title {
	margin-left: 40px;
	font-size: 25px;
	color: #778284;
	margin-top:0;
	margin-bottom: 0;
}
.testimonial-credits{
	margin-left: 35px;
}
.testimonial-link{
	text-decoration: none;
	color: #778284;
}
.calendar{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
.source {
	margin-left: 10px;
	width: 150px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 17px;
	color: #fff;
	border-radius: 4px;
	background-color: #57b753;
	font-weight: bold;
	border: none;
}
.more__button{
    background-color: #499dcb;
    width: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    border-radius: 5px;
    border: none;
    margin-left: 100px;
    margin-top: 10px;
   	margin-bottom: 30px;
}
.additional__info{
	font-size: 19px;
	font-weight: 100;
}
