/*ALL*/
#wrapper{
	max-width: 1600px;
	margin: auto;
}
body {
	background-color: #dbe5e7;
	margin: 0;
}
/*HEADER*/
header {
	background-color: #f5f5f5;
	margin-bottom: 70px;
	border-top: 13px solid #83837f;
}
/*Developer's name and occupation*/
.data {
    float: left;
    margin-top: 35px;
    margin-bottom: 0;
    margin-left: 34px;
}
.job {
    font-family: Arial;
    font-size: 29px;
    margin-top: 0;
    font-weight: 100;
    margin-bottom: 10px;
    color: grey;
}
.developer__name {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
}
/*Profile image & data alignment*/

.img__profile {
	float: left;
}
.data {
	float: left;
}
/*Social networks*/

.social__image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-top: 5px;
}
/*Developer's image*/
.profile {
	width: 225px;
	height: 225px;
	margin-top: 35px;
	margin-left: 85px;
	padding-bottom: 30px;
}
/*Main Section*/
.content {
	margin-left: 85px;
}
/*Main content text properties*/
.content__subtext {
    margin-top: 5px;
    margin-left: 200px;
    font-size: 18px;
    color: #778284;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}
/*Sidebar*/
.sidebar__block {
	background-color: #fff;
}
.clearfix {
	clear: both;
}
/*"Read more" button*/
.continue {
	text-decoration: none;
	color: #79a08d;
	margin-left: 35px;
}
/*"Read more"

 button's alignment*/
.continue__block{
	margin-bottom: 45px;
}
/*"Find out more information" im main section*/
.more {
	margin-left: 320px;
}
/*Second button*/
.more__second {
	margin-left: 40px;
}
.more__button{
    background-color: #499dcb;
    width: 250px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    border-radius: 5px;
    border: none;
    margin-left: 100px;
    margin-top: 10px;
   	margin-bottom: 30px;
}
/*Continue reading favicon*/
.continue__image {
	width: 20px;
    height: 20px;
    margin-right: 5px;
}
/*Icons*/
.like, .telegram, .education {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: -4px;
}
/*header contact button*/
.contact__button {
    float: none;
    margin-left: 350px;
    margin-top: 30px;
    background-color: #499dcb;
    width: 230px;
    margin-bottom: 115px;
}
/*Main content's contact button*/
.contact__button__first {
    float: right;
    font-size: 20px;
    background-color: #57b753;
    margin-top: 115px;
    margin-right: 90px;
    width: 185px;
}
/*Common properties of contact buttons*/
.contact__button__first, .contact__button {
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 17px;
	text-align: center;
	border-radius: 5px;
	box-shadow: none;
	font-weight: bold;
	border: none;
}
/*Quote characteristics*/
.quote:before {
	content: "\201C";
	font-size: 50PX;
	color: #91CCAF;
	font-weight: bold;
}
.quote {
    border-left: 5px solid #91CCAF;
    padding-left: 35px;
}
/*Latest project's image*/
.image-project {
    width: 260px;
    margin-left: 40px;
    height: 200px;
    margin-right: 25px;
}
/*SIDEBAR*/
.sidebar {
	float: right;
	width: 430px;
	margin-right: 110px;
}
/*Main applications' properties*/
.apps {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 40px;
	width: 850px;
}
/*Recent project preview*/
.big_image {
    margin-left: 40px;
    width: 850px;
    margin-bottom: 20px;
}
/*Main text*/
.content__text {
	margin-left: 35px;
	margin-bottom: 15px;
	width: 830px;
	color: #000;
	font-family: 'Lato', sans-serif;
	font-size: 19px;
	line-height: 1.4;
}
/*Padding from the last passage to the contact button*/
.last{
	padding-bottom: 30px;
}
.kickstarter__subtitle {
	margin-left: 325px;
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
    color: #778284;
    font-family: 'Montserrat', sans-serif;
}
.content__subtitle {
    margin-left: 325px;
    margin-top: -10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    color: #778284;
    font-family: 'Montserrat', sans-serif;
}
/*Sidebar's part*/
.sidebar__block {
	width: 440px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 4px;
}
/*Padding from the last passage in sidebar to the "continue" button*/
.sidebar__text-last {
	padding-bottom: 10px;
}
/*Sidebar text properties*/
.sidebar__text, .sidebar__text-last {
	color: #585b64;
	width: 355px;
	margin-top: 0;
	margin-left: 35px;
	font-family: 'Lato', sans-serif;
	font-size: 19px;
}
/*Links of the websites in SIDEBAR section*/
.website-link {
	text-decoration: none;
	color: #6a9782;
}
/*Main's part*/
.content__block {
	width: 930px;
	float: left;
	border-radius: 4px;
	background-color: #ffffff;
	margin-bottom: 35px;
}
/*Favicons of websites in SIDEBAR TOP section*/
.top__img{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
/*Padding from links in SIDEBAR section*/
.links{
	padding-top: 45px;
}
/*Author's music preferences*/
.music{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 35px;
}
/*Main content's titles*/
.content__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-top: 30px;
	margin-left: 35px;
	margin-bottom: 35px;
	color: #585b64;
	padding-top:10px;

}
/*Sidebar's titles*/
.sidebar__title {
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	margin-top: 30px;
	margin-left: 35px;
	margin-bottom: 35px;
	color: #585b64;
	padding-top:45px;

}
/*Quote author*/
.subcredits{
	color: #585b64;
	font-family: 'Lato', sans-serif;
	margin-left: 35px;
	font-size: 15px;
}
/*Unloaded progress bar's properties*/
.loading-bar{
	background-color: #e8e8e8;
	height: 20px;
	width: 370px;
	margin-top: 7px;
	margin-bottom: 40px;
	margin-left: 30px;
}
/*Loaded progress bar's properties*/
.amount {
	height: 20px;
	background-color: #66cc8d;
	margin-top: 7px;
	margin-bottom: 40px;
}
/*First progress amount*/
.first{
	width: 90%;
}
/*Second progress amount*/
.second{
	width: 90%;
}
/*Third progress amount*/
.third{
	width: 90%;
}
/*Fourth progress amount*/
.fourth{
	width: 80%;
}
/*Name of the progress name*/
.skills__assesment {
	float: right;
	margin-right: 40px;
	color: #d8d8d8;
	font-size: 18px;
}
.image-project {
	float: left;
    width: 260px;
    margin-left: 40px;
    height: 200px;
    margin-right: 25px;
}
.skills{
	margin-top: 30px;
}
.subinfo__title {
	margin-left: 30px;
	margin-bottom: 0;
	font-size: 20px;
	color: #778284;
	font-family: 'Montserrat', sans-serif;
}
.testimonial-credits {
	font-style: normal;
	font-size: 18px;
	font-weight: 600;
	color: #778284;
	margin-left: 35px;
}
.music-names {
	font-style: normal;
	font-size: 18px;
	font-weight: 600;
	color: #778284;
}
.testimonial-link{
	text-decoration: none;
	color: #778284;
}
/*Icons in "Conference" section*/
.calendar{
	width: 20px;
	height: 20px;
	margin-right: 5px;
}
/*Open source status in "projects" section*/
.source {
	margin-left: 10px;
	width: 150px;
	padding-bottom: 5px;
	padding-top: 5px;
	font-size: 17px;
	color: #fff;
	border-radius: 4px;
	background-color: #57b753;
	font-weight: bold;
	border: none;
}
.additional__info{
	font-size: 19px;
	font-weight: 100;
}
/*Color of links*/
.link__color{
	text-decoration: none;
	color: #fff;
}
/*"Star Rating"*/
.checked {
    color: #91CCAF;
}
.star__rating {
	float: right;
	margin: 2px;
}
.fa-heart {
    color: #fb866a;
}
/*Author in "FOOTER"*/
.author {
	color: #fff;
}
.footer {
	clear: both;
	float: none;
	background-color: #33383c;
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
	color: #fff;
	font-size: 20px;
}